@media all and (min-width: 0px) and (max-width: 576px) {
  .not-xs {
    display: none !important;
  }
}

@media all and (min-width: 576px) and (max-width: 768px){
  .not-sm {
    display: none !important;
  }
}

@media all and (min-width: 768px) and (max-width: 992px){
  .not-md {
    display: none !important;
  }
}

@media all and (min-width: 992px) and (max-width: 1200px){
  .not-lg {
    display: none !important;
  }
}

@media all and (min-width: 1200px) and (max-width: 1400px){
  .not-xl {
    display: none !important;
  }
}

@media all and (min-width: 1400px) {
  .not-xxl {
    display: none !important;
  }
}